style.css

body{
	margin:0;
	font-family:Arial;
	background-color: rgba(255,255,255,0.8);
}

h1{
	font-weight:100;
	color:green;

}
#logo{
	height:80px;
	width: 80px;

}

#container{
	display:flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	flex-direction: column;
}